*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif   ;
    box-sizing: border-box;
}
body{
    background: #000000;
    color: #fff;
}
#header{
    width: 100%  ;
    height:100vh;
    background-image: url(images/keshwarram.jpg);
    background-size: cover;
    background-position: center;
}
.container{
    padding: 15px 5%; 
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 200px;
    height: 50px;
}
nav ul li{
    display: inline-block;
    margin: 30px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #2A43FF;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
    transition: 0.5s;
}
.header-text{
    margin-top: 10%;
    font-size: 30px;
}
.header-text h1{
    font-size: 50px;
    margin-bottom: 10px;
}
.header-text h1 span{
    color: #2A43FF;
}
#about {
    padding: 50px ;
    color: #ffffff;
} 
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.about-cal1 {
    flex-basis: 35%;
}
.about-cal1 img {
    width: 100%;
    border-radius: 20px;
}
.about-cal2 {
    flex-basis: 60%;
}
.about-cal2 span{
    color: #2A43FF;
}
.me{
    font-size: 50px;
    font-weight: lighter;
}
.titles{
    margin:20px 0 40px ;
    display:flex;
}
.links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position:relative;
}
.links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #2A43FF;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}
.links.act::after{
    width: 100%;
    transition: 0.5s;
}
.content ul li{
    list-style:none ;
    margin:10px 0 ;
}.content ul li span{
    color: #2ab8ffc3;
    font-weight: 600;
}
.AB{
    font-size: 18px;
    font-weight: 300;
    line-height: 1.8;
}
.content{
    display:none;
}
.content.active{
    display:block;
}
#servies{
    padding: 30px 5%;
}
.servies-l{
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin-top:40px;
}
.servies-l div{
    background:#333333 ;
    padding: 30px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 300;
    transition: 0.5s;
}
.servies-l div h2{
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: 500;
}
.servies-l div a{
    text-decoration: none;
    color: #000000;
    font-size: 17px;
    margin-top: 20px;
    display: inline-block;
}
.servies-l div:hover{
    background: #2A43FF;
    color: #ffffff;
    transform: translatey(-15px);
}
.services-l div img {
    border-radius: 10px;
    margin-bottom: 20px;
}

#portfolio{
    padding: 50px 5%;
}
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
    font-size: 18px;
}
.contact-left p i{
    color: #2A43FF;
    font-size: 18px;
    margin-right: 30px;

}
.soc-icon{
    margin-top: 30px;
}  
.soc-icon a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    margin-right: 20px;
    transition: 0.5s;
    display: enline-block;
} 
.soc-icon a:hover{
    color: #2A43FF;
    transform: translatey(-10px);
}
.btn{
    display: inline-block;
    background: #000000;
    padding: 10px 20px;
    margin-top: 30px;
    border-radius: 5px;
    border: #2A43FF 2px solid;
    color: #fff;
    text-decoration: none;
    width: fit-content;
    font-size: 18px;
    transition: 0.5s;
}
.btn:hover{
    background: #2A43FF;
    color: #000000;
    transform: translatey(-10px);
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'poppins', sans-serif;
    color: #000000;
}
form input::placeholder, form textarea::placeholder{
    color: #000000;
}
.copyright{
    text-align: center;
    padding: 20px 0;
    background: #111111;
    margin-top: 50px;
    font-weight: 300;
    margin-top: 20px;
}
.copyright p i{
    color: #2A43FF;
}
html{
    scroll-behavior: smooth;
}

nav .fa-times,
nav .fa-bars {
    display: none;
}
@media only screen and (max-width:768px){
    #header{
        background-image: url(images/Picsart_25-11-03_20-47-05-392.jpg);
    }
    .header-text{
        margin-top: 177%;
        font-size: 20px;
    }
    .header-text h1{
        font-size: 30px;
    }
    nav .fa-times,
    nav .fa-bars {
        display: block;
        color: #fff;
        font-size: 25px;
        cursor: pointer;
    }
    nav ul{
        background:#2A43FF ;
        position: fixed;
        top:0;
        right:-200px;
        width:200px;
        height: 100vh;
        padding-top:40px;
        z-index: 2;
        transition:0.5s ;

    }
    nav ul li{
        display: block;
        margin: 30px 25px;
        padding-bottom : 20px;
    }
    nav ul .fa-times,
    nav ul .fa-bars {
        position: absolute;
        top: 20px;
        right: 150px;
        cursor: pointer;
    }
    .about-cal1, .about-cal2{
        flex-basis: 100%;
    }
    .about-cal1{
        margin-bottom: 30px;
    }
    .about-cal2{
        font-size: 15px;
        margin-right: 5px;
    }
    .servies-l{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    .download{
        margin-bottom: 30px;
    }
    contact-left, .contact-right{
        flex-basis: 100%;
    }
    #msg{
    color: #2A43FF;
    margin-top: -80px;
    display: block;
    }
    .servies-l {
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .servies-l div img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    .contact-right form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    }
.contact-right {
    margin-bottom: 80px;
    }
.copyright {
    text-align: center;
    background: #000;
    color: #fff;
    padding: 15px 0;
    font-size: 14px;
    margin-top: 30px;
    } 

}